.mapAdvancedMenu {
    z-index: 1200;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menuForm {
    height: 80%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px 20px 0 0;
    /* padding: 20px 16px 0px; */
}

.menuForm__tab__container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #dddddd; */
}

.menuForm__tab {
    height: 100%;
    width: 50%;
    color: black;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .menuForm__tab--announce {
        height: 5px;
        width: 5px;
        color: white;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
    }
}

.menuForm__tab.chosen {
    font-weight: bold;
    background-color: white;

    .menuForm__tab--announce {
        display: none;
    }
}

.menuForm__tab--friend {
    border-radius: 20px 0 20px 0;
}

.menuForm__tab--request {
    border-radius: 0 20px 0 20px;
}




/*  */
.menuShowcase {
    flex: 1;
    width: 100%;
}

.menuShowcase--child {
    height: 100%;
    width: 100%;
}

.menuShowcase--request--pendingContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.menuShowcase--request--requestContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.menu--item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
}

.menu--item--request {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;

    .menu__buttonContainer--item--request {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menu__button--request {
        color: white;
    }

    .menu__button--requestAccept {
        background-color: lime;
    }

    .menu__button--requestDecline {
        background-color: red;
    }
    
    .menu__button--requestRevoke {
        background-color: red;
    }
}

.menu--item:last-child {
    border-bottom: none;
}

.menu--user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu--userAvartar {
    overflow: hidden;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
}

.menu--userAvartar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__name {
    color: #3e3f46;
    font-size: 14px;
}

.menu__button {
    background: #EEEEEE;
    color: black;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: normal;
}